*{
    margin: 2px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: beige;
    padding: 15px;
    
}
li,ul,h1{
    display: inline;
}
ul{
    margin-left: 50%;
}
li{
    color: aquamarine;
}

h1:hover{
    color: gold;
    cursor: pointer;
}

li:hover{
    color: blueviolet;
    cursor: pointer;
}
input{
    width: 60%;
    padding: 10px;
}
.Searching{
    padding: 10px;
    text-align: center;
}


    .box{
        border-color:whitesmoke;
        color: whitesmoke;
        border-width: 2px;
        border-style: solid;
        display: inline-block;
        width: 725px;
        padding: 0;
        margin-top: 120px;
    }


.Products{
    text-align: center;
    
}
.box:hover{
    background-color:black;
    color: blueviolet;
    cursor: pointer;
}




.About{ text-align: center;
    margin: 25px;
    padding:5;
    color:black;
    margin-top: 110px;

}
p{ color:whitesmoke;}

.cantact{
    text-align: center;
    margin: 25px;
    padding: 5px;
    background-color: black;
    color: white;
    margin-top: 180px;
    margin-bottom: 0;
}
h4:hover{
    color: bisque;
    cursor:pointer;
}
h3:hover{
    color: gold;
}
